#menu {
	background-color:  #116669;
	text-align: center;
	padding: 80px;
	margin: 0;					
}

nav {
	background-color: #202021;
	overflow: hidden;
}

nav a {
	color: white;
	padding: 15px 20px;
	text-decoration: none;
	text-align: center;
}

nav a.left {
	float: left;
}

nav a:hover {
	background-color: white;
	color: black;
}

footer {
	text-align: center;
	padding: 15px 20px;
}

#left_side {
	flex: 40%;
	background-color: #cdcfcc;
	padding: 20px 30px;
	text-align: center;
}

#right_side {
	flex: 60%;
	background-color: #79afd9;
	padding: 20px 30px;
}

#flex_container {
	display: flex;
}

footer a {
	text-decoration: none;
	color: #c71eb0;
}
@media(max-width: 800px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
}

@media(max-width: 400px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
	
}
